.jumbologo {
    padding-bottom: 30px;
}
.light {
      font-size: 14px;
  font-weight: 300;
    color: #fff;
    
}
.red {
    color: #C12026;
}
.footer-red {
    background: #C12026;
}
.footer-heading {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
    color: #fff;
}
.fa-pad {
    padding-right: 20px;
}
.footer-logo {
    background: #102D38;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    
}
.footerpad {
    padding-top: 30px;
}
.small-dark {
    width: 50%;
    border-color: #a8a8a8;
    padding: 20px;
}